.cartElements-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.cartContent {
    height: 120px;
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 5px rgba(105, 105, 105, 0.2);
}

.name-cart-container {
    height: 60px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cart {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.name-cart {
    font-size: 18px;
}

.price-cart-container {
    height: 60px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-cart {
    font-size: 16px;
}

.quantity-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cartMessage {
    text-align: center;
}

.cart-itemCounter-container {
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btnCounter {
    height: 30px;
    width: 30px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnCounter:hover {
    background-color: #000a01;
    color: #fff;
}

.quantity {
    font-weight: bold;
    font-size: 13px;
    margin-top: 14px;
}

.btnDelete-cart-container {
    height: 60px;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDelete-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.btnDelete-cart:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.btnDelete-cart:hover .svgIcon {
    width: 35px;
    margin-top: 5px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.btnDelete-cart::before {
    position: absolute;
    top: -20px;
    content: "Eliminar";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.btnDelete-cart:hover::before {
    font-size: 14px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}