.navBar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navBar {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 370px;
    margin-left: 20px;
}

.img {
    width: 40px;
    height: 40px;
}

.name-container {
    text-decoration: none;
}

.name {
    font-size: 18px;
    margin-top: 10px;
    color: #000a01;
}

.me-auto {
    gap: 5px;
}

.cart-container {
    margin-right: 20px;
}

#cart-navBar {
    font-size: 19px;
    color: #000a01;
}

.number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 8px;
    top: 10px;
}

.number {
    color: #000a01;
    font-weight: bold;
    font-size: 10px;
}